.mainDiv{
    width:100%;    
}

.gameArea{
			margin: 0 auto;
			width: 45%;
		}
		.canvas{
            background-color: #B2E6FF;
		    border:1px solid #d3d3d3;
		    /*width: 100%;
		    height:300px;*/
		}
		.hide{
			display:none;
		}
.count{
    font-size:20px;
    font-weight:bold;
}
header {
    height: 10%;
    text-decoration: underline;
}

#controller{
display: inline-block;
width: 38%;
}

#score{
    display: inline;
}

#instructions {
    text-align: center;
    color: green;
    font-size: 20px; 
    
}
