* {
    /* including borders as part of box for every element */
    box-sizing: border-box;
}
.header {
    height: 100px;
    background-color: #313131;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 80%;
    border-radius: 40px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    margin-left: 20px;
}

.game-menu {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; 
}

.nav-items {
    display: flex;
    font-size: 0;
    padding: 13px 16px 12px;
}

.nav-item {
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}

.nav-item.active {
    color: #000000;
    cursor: auto;
    background-color: white;
}

.middle-section{
    display: flex;
    justify-content: center;
}

.instruction-panel {
    width: 40%;
    padding: 20px;
}

ul {
    list-style: none;
}

.instruction-panel--nav {
    display: flex;
    align-items: center;
}

.instruction-panel--nav img{
    width: 100px;
    height: 50px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    width: 60%;
    padding: 20px;
    position: relative;
}

.top5Scores {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.top5 {
    display: flex;
    padding: 0;
    margin: 0;
}

.top5 li {
    margin: 0 10px;
}

.game-area {
    position: relative;
}

.canvas{
    background-color: #B2E6FF;
    border:1px solid #d3d3d3;
    position: relative;
    /* width: 100%; */
    /* height: 500px; */
}

.hide{
    display:none;
}
.score-panel {
    display: flex;
    align-items: center;
    position: relative;
}
.score-panel label {
    margin-right: 10px;
}
.score-panel span{
    font-size:20px;
    font-weight:bold;
}

 /* #controller {
    position: absolute;
    right: 0;
    top: -30px;
} */

.flash{
    display: none;
    position: absolute;
    z-index: 9999;
    font-size: 30;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}

.flash span{
    padding-left: 10px;
}

footer {
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: #888;
    line-height: 2;
    font-style: italic;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 767px) {
    .instruction-panel {
        display: none;
    }
    .mainDiv {
        width: 100%;
    }
}
